@font-face {
    font-family: "BebasNeue";
    src: url(./fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/RobotoCondensed-VariableFont_wght.ttf);
}

.text-bebas{
    font-family: "BebasNeue";
}

.text-roboto{
    font-family: "Roboto";
}

.imagen{
    max-height: 500px;
}

h1{
    font-size: 3rem;
}

@media (max-width: 991px) {
   h1 {
    font-size: 1.5rem;
  }
}